
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="idris-maps">
    <meta name="description" content="{{description}}">
    <meta property="og:image" content="https://idris-maps.com/assets/images/idris-maps.svg">
    <meta property="og:description" content="{{description}}}">
    <meta property="og:title" content="{{title}}">
    <meta name="twitter:title" content="{{title}}">
    <title>{{title}}</title>
    {% set css %}
      {% include "global.css" %}
      {% include "prism.css" %}
      {% include "codemirror.css" %}
      {% include "md-dark.css" %}
      {% include "leaflet.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <header>
      <div class="header-title">
        <a href="/">svelte-parts</a>
      </div>
      <div class="header-repo">
        <a href="https://github.com/idris-maps/svelte-parts">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
        </a>
    </header>
    <main>
      {{ style }}
      {{ content | safe }}
    </main>
  </body>
</html>