/* md-light theme for codemirror - don't use it for other modes */

/* Variables */

:root {
  --text-color: rgb(56, 56, 56);
  --code-color: rgb(66, 66, 66);
  --cursor-color: rgb(179, 82, 82);
  --format-color:rgb(124, 124, 124);;
  --bg-color: rgb(243, 243, 243);;
  --selected-color: rgb(207, 207, 207);
  --font-size-h1: 2em;
	--font-size-h2: 1.6em;
	--font-size-h3: 1.4em;
	--font-size-h4: 1.2em;
	--font-size-h5: 1em;
  --font-size-h6: 0.8em;
  --line-height: 1.4;
}

/* Colors */

.cm-s-md-light .cm-header,
.cm-s-md-light .cm-comment,
.cm-s-md-light .cm-variable-2,
.cm-s-md-light .cm-variable-3,
.cm-s-md-light .cm-variable-4,
.cm-s-md-light .cm-variable-5,
.cm-s-md-light .cm-quote,
.cm-s-md-light .cm-type {
  color: var(--text-color);
}

.cm-s-md-light .cm-formatting,
.cm-s-md-light .cm-hr,
.cm-s-md-light .cm-url {
  color: var(--format-color);
}
.cm-s-md-light .cm-comment {
  font-style: italic;
}

/* Fonts */

.cm-s-md-light .cm-header-1 {
  font-size: var(--font-size-h1);
}

.cm-s-md-light .cm-header-2 {
  font-size: var(--font-size-h2);
}

.cm-s-md-light .cm-header-3 {
  font-size: var(--font-size-h3);
}

.cm-s-md-light .cm-header-4 {
  font-size: var(--font-size-h4);
}

.cm-s-md-light .cm-header-5 {
  font-size: var(--font-size-h5);
}

.cm-s-md-light .cm-header-6 {
  font-size: var(--font-size-h6);
}

/* Select */

.cm-s-md-light div.CodeMirror-selected,
.cm-s-md-light .CodeMirror-focused div.CodeMirror-selected,
.cm-s-md-light .CodeMirror-line::selection,
.cm-s-md-light .CodeMirror-line > span::selection,
.cm-s-md-light .CodeMirror-line > span > span::selection,
.cm-s-md-light .CodeMirror-line::-moz-selection,
.cm-s-md-light .CodeMirror-line > span::-moz-selection,
.cm-s-md-light .CodeMirror-line > span > span::-moz-selection {
  background: var(--selected-color);
}


/* Editor styling */

.cm-s-md-light .CodeMirror {
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--bg-color);
}

.cm-s-md-light .CodeMirror-gutters {
  background: var(--bg-color);
  border-right: 1px solid var(--selected-color);
}

.cm-s-md-light .CodeMirror-linenumber {
  color: var(--format-color);
  padding: 0 10px;
  font-size: var(--font-size-h6);
}

.cm-s-md-light pre.CodeMirror-line {
  padding-left: 0.3em;
}

/* Cursor */

.cm-s-md-light .CodeMirror-cursor {
  border-left: 3px solid var(--cursor-color);
}

/* Hack for weird artifacts on cursor and empty lines */

.cm-s-md-dark span[cm-text=""],
.cm-s-md-dark .CodeMirror-cursor {
  color: rgba(0, 0, 0, 0);
}