---
import Layout from '../layouts/Layout.astro'
import Banner from 'svelte-parts/banner/Banner.svelte'
import { Content } from '../md/home.md'
---

<Layout title="svelte-parts" description="svelte components">
	<h3>Components for <a href="https://svelte.dev/">svelte</a></h3>
	<Banner client:only />
	<Content />
</Layout>