---
import Layout from '../layouts/Layout.astro'
import { Content } from '../md/home.md'
import { Content as Install } from '../md/install.md'
---

<Layout title="svelte-parts" description="svelte components">
	<h1>Components for <a href="https://svelte.dev/">svelte</a></h1>
	<Install />
	<Content />
</Layout>