---
import Layout from '../layouts/Layout.astro'
import { Content as Install } from '../md/install.md'
import Components from '../components/Components.astro'
---

<Layout title="svelte-parts" description="svelte components">
	<h1>Components for <a href="https://svelte.dev/">svelte</a></h1>
	<Install />
	<Components />
</Layout>