/* md-dark theme for codemirror - don't use it for other modes */

/* Variables */

:root {
  --text-color: rgb(240, 240, 215);
  --code-color: rgb(210, 240, 215);
  --cursor-color: rgb(179, 82, 82);
  --format-color:rgb(145, 145, 128);;
  --bg-color: rgb(32, 32, 32);;
  --selected-color: rgba(255, 255, 255, 0.2);
  --font-size-h1: 2em;
	--font-size-h2: 1.6em;
	--font-size-h3: 1.4em;
	--font-size-h4: 1.2em;
	--font-size-h5: 1em;
  --font-size-h6: 0.8em;
  --line-height: 1.4;
}

/* Colors */

.cm-s-md-dark .cm-header,
.cm-s-md-dark .cm-comment,
.cm-s-md-dark .cm-variable-2,
.cm-s-md-dark .cm-variable-3,
.cm-s-md-dark .cm-variable-4,
.cm-s-md-dark .cm-variable-5,
.cm-s-md-dark .cm-quote,
.cm-s-md-dark .cm-type {
  color: var(--text-color);
}

.cm-s-md-dark .cm-formatting,
.cm-s-md-dark .cm-hr,
.cm-s-md-dark .cm-url {
  color: var(--format-color);
}
.cm-s-md-dark .cm-comment {
  font-style: italic;
}

/* Fonts */

.cm-s-md-dark .cm-header-1 {
  font-size: var(--font-size-h1);
}

.cm-s-md-dark .cm-header-2 {
  font-size: var(--font-size-h2);
}

.cm-s-md-dark .cm-header-3 {
  font-size: var(--font-size-h3);
}

.cm-s-md-dark .cm-header-4 {
  font-size: var(--font-size-h4);
}

.cm-s-md-dark .cm-header-5 {
  font-size: var(--font-size-h5);
}

.cm-s-md-dark .cm-header-6 {
  font-size: var(--font-size-h6);
}

/* Select */

.cm-s-md-dark div.CodeMirror-selected,
.cm-s-md-dark.CodeMirror-focused div.CodeMirror-selected,
.cm-s-md-dark .CodeMirror-line::selection,
.cm-s-md-dark .CodeMirror-line > span::selection,
.cm-s-md-dark .CodeMirror-line > span > span::selection,
.cm-s-md-dark .CodeMirror-line::-moz-selection,
.cm-s-md-dark .CodeMirror-line > span::-moz-selection,
.cm-s-md-dark .CodeMirror-line > span > span::-moz-selection {
  background: var(--selected-color);
}


/* Editor styling */

.cm-s-md-dark.CodeMirror {
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--bg-color);
}

.cm-s-md-dark .CodeMirror-gutters {
  background: var(--bg-color);
  border-right: 1px solid var(--selected-color);
}

.cm-s-md-dark .CodeMirror-linenumber {
  color: var(--selected-color);
  padding: 0 10px;
  font-size: var(--font-size-h6);
}

.cm-s-md-dark pre.CodeMirror-line {
  padding-left: 0.3em;
}

.cm-s-md-dark .CodeMirror-cursor { border-left: 3px solid var(--cursor-color); }
